<section class="purchase" id="reasonsPurchase">
  <h2 class="purchase__title">3 reasons to purchase</h2>
  <div class="purchase__articles">
    <include
      src="./article.html"
      articleTitle="Ut sed metus"
      articleText="Lorem ipsum dolor sit amet, consecteur."
    ></include>
    <include
      src="./article.html"
      articleTitle="Curabitur ac erat"
      articleText="Mauris mattis urna quis lorem molestie."
    ></include>
    <include
      src="./article.html"
      articleTitle="Morbi dictum"
      articleText="Aliquam in dolor et dolor tincidunt."
    ></include>
  </div>
  <button type="button" class="purchase__btn">
    <a
      class="purchase__btn--link"
      href="https://adalab.es/"
      title="Link to Adalab's Website"
      target="_blank"
      >More reasons</a
    >
  </button>
</section>
