<section>
  <h2>3 reasons to purchase</h2>
  <include
    src="./article.html"
    articleTitle="Ut sed metus"
    articleText="Lorem ipsum dolor sit amet, consecteur."
  ></include>
  <include
    src="./article.html"
    articleTitle="Curabitur ac erat"
    articleText="Mauris mattis urna quis lorem molestie."
  ></include>
  <include
    src="./article.html"
    articleTitle="Morbi dictum"
    articleText="Aliquam in dolor et dolor tincidunt."
  ></include>
  <a href="">More reasons</a>
</section>
