<section class="tips">
  <div class="tips__container">
    <small class="tips__small">Insomnia tips</small>
    <h2 class="tips__title">Looking through a window</h2>
    <p class="tips__text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque dolore,
      rerum molestiae aspernatur cum accusamus esse illum minus! Provident
      explicabo itaque est animi natus blanditiis perspiciatis expedita hic
      accusantium officia!
    </p>
    <button class="tips__btn">
      <a
        class="tips__btn--link"
        href="https://adalab.es/"
        title="Link to Adalab's Website"
        target="_blank"
        >Go</a
      >
    </button>
  </div>
</section>
