$fontTitle: "Roboto Slab", serif;
$fontText: "Roboto", sans-serif;
$backgrColorMenu: #0271bc;
$backgrColorPurchase: #eff9ff;
$backgrColorFooter: #304268;
$colorBtns: #f26002;
$colorPpal: #fff;
$colorScnd: #000;
