@keyframes arrowFooterBounceMobile {
  0% {
    transform: translate(0, -80px);
  }
  50% {
    transform: translate(0, -95px);
  }
  100% {
    transform: translate(0, -80px);
  }
}

@keyframes arrowFooterBounceTablet {
  0% {
    transform: translate(0, -65px);
  }
  50% {
    transform: translate(0, -80px);
  }
  100% {
    transform: translate(0, -65px);
  }
}

.footer {
  background-color: $backgrColorFooter;
  padding: 60px 0 45px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  @include tablet {
    flex-direction: row;
    padding: 45px 39px;
    align-items: flex-start;
    justify-content: center;
  }
  &__arrow {
    height: 45px;
    width: 45px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    transform: translate(0, -80px);
    box-shadow: 0 2px 4px 0 rgba($colorScnd, $alpha: 0.5);
    animation: arrowFooterBounceMobile 2s ease-in-out infinite;
    @include tablet {
      transform: translate(0, -65px);
      animation: arrowFooterBounceTablet 2s ease-in-out infinite;
    }
  }
  &__nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    margin-bottom: 30px;
    @include tablet {
      align-items: flex-start;
      margin: 0 0 0 30px;
      width: 210px;
    }
    &--item {
      color: $colorPpal;
      font-family: $fontText;
      font-size: toRem(16px);
      line-height: toRem(30px);
      text-transform: uppercase;
    }
  }
  &__smallsSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include tablet {
      order: -1;
      align-items: flex-start;
      width: 210px;
    }
  }
  &__small {
    color: $colorPpal;
    font-family: $fontText;
    font-size: toRem(14px);
    line-height: toRem(30px);
    &--heart {
      color: $colorBtns;
      height: toRem(12px);
      transform: translate(0, 1px);
    }
  }
}
