.footer {
  background-color: $backgrColorFooter;
  padding: 60px 0 45px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  @include tablet {
    flex-direction: row;
    padding: 45px 39px;
    align-items: flex-start;
    justify-content: center;
  }
  &__arrow {
    height: 45px;
    width: 45px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    transform: translate(0, -80px);
    box-shadow: 0 2px 4px 0 rgba($colorScnd, $alpha: 0.5);
    transition: all 0.3s linear;
    &:hover {
      background-color: $colorBtns;
      transform: translateY(-81px);
      box-shadow: 0px 5px 10px rgba($colorScnd, 0.5);
      height: 50px;
      width: 50px;
    }
    &:hover .footer__arrow--size {
      height: 26px;
      width: 24px;
    }
    &:hover .footer__arrow--color {
      fill: $colorPpal;
    }
    @include tablet {
      transform: translate(0, -65px);
    }
  }
  &__nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    margin-bottom: 30px;
    @include tablet {
      align-items: flex-start;
      margin: 0 0 0 30px;
      width: 210px;
    }
    &--item {
      color: $colorPpal;
      font-family: $fontText;
      font-size: toRem(16px);
      line-height: toRem(30px);
      text-transform: uppercase;
      transition: all 0.2s linear;
      position: relative;
      &::before {
        content: "";
        position: absolute;
        visibility: hidden;
        transform: scaleX(0);
        width: 110%;
        height: 2px;
        bottom: -3.5px;
        left: -5%;
        background-color: $colorBtns;
        transition: all 0.3s linear;
      }
      &:hover:before {
        visibility: visible;
        transform: scaleX(1);
      }
      &:visited {
        color: #7e86cc;
      }
      &:hover {
        color: $colorBtns;
      }
    }
  }
  &__smallsSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include tablet {
      order: -1;
      align-items: flex-start;
      width: 210px;
    }
  }
  &__small {
    color: $colorPpal;
    font-family: $fontText;
    font-size: toRem(14px);
    line-height: toRem(30px);
    &--heart {
      color: $colorBtns;
      height: toRem(12px);
      transform: translate(0, 1px);
    }
  }
}
