.footer {
  background-color: $backgrColorFooter;
  padding: 60px 0 45px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  &__container {
    height: 45px;
    width: 45px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    transform: translate(0, -80px);
    box-shadow: 0 2px 4px 0 rgba($color: #000000, $alpha: 0.5);
  }
  &__nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    margin-bottom: 30px;
    &--item {
      color: $colorPpal;
      font-family: $fontText;
      font-size: toRem(16px);
      line-height: toRem(30px);
      text-transform: uppercase;
    }
  }
  &__small {
    color: $colorPpal;
    font-family: $fontText;
    font-size: toRem(14px);
    line-height: toRem(30px);
    &--heart {
      color: $colorBtns;
      height: toRem(12px);
      transform: translate(0, 1px);
    }
  }
}
