.header__menu {
  background-color: $backgrColorMenu;
  height: 44px;
  width: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  transition: all 0.3s ease-in;
  cursor: pointer;
  &:hover {
    height: 54px;
    width: 54px;
    background-color: $colorBtns;
  }
}
