.tips {
  margin: 30px 15px 45px;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include tablet {
    margin: 30px 39px 60px;
  }
  @include desktop {
    margin: 60px 0;
  }
  &__container {
    @include tablet {
      width: 690px;
    }
    @include desktop {
      width: 730px;
    }
  }
  &__small {
    color: #8ccbea;
    font-family: $fontText;
    font-size: toRem(14px);
    line-height: toRem(30px);
    text-transform: capitalize;
    @include desktop {
      font-size: toRem(16px);
    }
  }
  &__title {
    color: $colorScnd;
    font-family: $fontTitle;
    font-size: toRem(24px);
    line-height: toRem(30px);
    text-transform: capitalize;
    @include tablet {
      font-size: toRem(26px);
      line-height: toRem(45px);
    }
    @include desktop {
      font-size: toRem(32px);
    }
  }
  &__text {
    color: #4a4a4a;
    font-family: $fontText;
    font-size: toRem(18px);
    line-height: toRem(30px);
    margin: 15px 0 30px;
    @include tablet {
      font-size: toRem(20px);
      line-height: toRem(30px);
      margin: 30px 0;
    }
  }
  &__btn {
    display: inline-block;
    text-align: center;
    width: 76px;
    height: 45px;
    background-size: 0%;
    border: solid 2px $colorBtns;
    border-radius: 22.5px;
    color: $colorBtns;
    font-family: $fontText;
    font-size: toRem(20px);
    font-weight: 500;
    line-height: toRem(45px);
    transition: all 0.3s linear;
    &:hover {
      background-color: $colorBtns;
      color: $colorPpal;
      background-size: 100%;
      box-shadow: 0px 5px 10px rgba($colorScnd, 0.3);
      font-size: toRem(22px);
      transform: translateY(-3px);
    }
    @include tablet {
      width: 91px;
    }
    @include desktop {
      width: 160px;
    }
  }
}
